UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""
REDIS_PORT=6379 ---or else

# --- app config ---
# app mode: 'development' or 'production'
APP_ENV=development

# --- Tokens and/or externa api keys---
BINANCE_API_KEY=your_api_key
