# --- production
UPSTASH_REDIS_REST_URL=""https://something-likethis-123456.upstash.io""
UPSTASH_REDIS_REST_TOKEN="tWwQMCY9tOpOBlTG0lEha0fbaEOXCRg3pLTepPUU9id36EfO2WxotddgOHXziQA8"
# --- local
LOCAL_REDIS_URL="redis://cambialy_secret_2024@localhost:6379/0" #syntax: redis://:password@host:port/db_number
# --- app config ---
# app mode: 'development' or 'production'
APP_ENV=development
ALLOWED_ORIGINS="https://cambialyapplication.com"
