# --- Redis config (Upstash) ---
# --- (ex: rediss://default:password@us1-...)
REDIS_URL=your_upstash_url
REDIS_PASSWORD=your_upstash_db_password
REDIS_PORT=6379 ---or else

# --- app config ---
# app mode: 'development' or 'production'
APP_ENV=development

# --- Tokens and/or externa api keys---
BINANCE_API_KEY=your_api_key
